*{
    margin: 0%;
    padding: 0%;
}
@font-face {
  font-family: 'Roihu-Black';
  src: url('./fonts/Roihu-Black.ttf');
}
@font-face {
  font-family: 'Roihu-Bold';
  src: url('./fonts/Roihu-Bold.ttf');
}

@font-face {
  font-family: 'Roihu';
  src: url('./fonts/Roihu.ttf');
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-y: hidden;  */
}


.navbar{
    width: 100%;
    height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    box-shadow: #212121;
    display: flex;
    position: fixed;
    z-index: 10;
}



  .slider {
      position: relative;
      width: 81%;
      height: 70px;
      margin-left: 0;
      background-color: #fff;
      margin-bottom: 40px;
      margin-left: 5%;
      float: left;
      bottom: 10rem;
      box-shadow: none;
      background: none;
      border-radius: 50%;
  }



@media only screen and (max-width: 768px) {

    .submit-button{
        font-family: 'Encode Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 18px;
    }
    .info-main{
    }

    .galucoma-head{
        margin-top: 48px;
        text-align: center;
        font-family: 'Roihu-Bold';
        }

    .galucoma-information-div{
        background: #0C51A3;
        /* border-radius: 24px; */
        width: 100%;
        height: 817px;
        padding-top: 0.1rem;
    }
    .eye-image{
        margin: auto;
        position: relative;
        bottom: 12rem;
        margin-top: 28px;
        width: 342px;
        height: 342px;
        border-radius: 1.5rem;
    }
    .galucoma-p{
        position: relative;
        top: 26rem;
width: 342px;
height: 203px;
font-family: 'Encode Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 29px;
/* or 161% */

text-align: center;
margin: auto;

color: #FFFFFF;
    }
    .button{        
         display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: auto;
        position: relative;
        top: 5rem;
        width: 274px;
        height: 30px;
        padding: 0.5rem;
        border-radius: 315px;
        border: none;
        background: #FFFFFF;
        cursor: pointer;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px 
    }
}
.terms a{
    color: #0037A3;

opacity: 0.85;
}
@media only screen and (min-width: 768px){

  .galucoma{

    font-family: 'Roihu-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    padding-top: 1rem;
    text-align: center;
    color: #212121;
    
}

.form{
  display: flex;
  position: relative;
  bottom: 37rem;
  margin-left: 2rem;

}

.submit-form{
  width: 392px;
  height: 500px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
}


  .info-main{
        display: flex;
        margin-top: 61px;
    }
  .galucoma-information-div{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1098px;
    height: 496px;
    background: #0C51A3;
    border-radius: 28px;
}
.galucoma-head{
    margin-top:3.4rem;
    margin-left: 3rem;
    font-family: 'Roihu-Bold';
    font-style: normal;
    width: 372px;
    height: 60px;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}
.galucoma-p{
    margin-left: 3.4rem;
    margin-top: 3rem;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    width: 529px;
    height: 175px;
    color: #FFFFFF;
}
.eye-image{
    position: relative;
    left: 41.3rem;
    bottom: 17.9rem;
    width: 400px;
height: 400px;
border-radius: 1.5rem;
}
.button{
    padding: 15px 32px;
    gap: 10px;
    position: relative;
    bottom: 21.6rem;
    width: 309px;
    height: 56px;
    border-radius: 315px;
    border: none;
    text-align: center;
    margin-left: 3.4rem;
    background: #FFFFFF;
    cursor: pointer;    /* top: 23rem; */
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px
}

}
.logo {
    margin-left: 68px;
    margin-top: 27px;
  }
  @media only screen and (max-width: 768px) {

    .submit-form{
      width: 392px;
      height: 500px;
      background: #FFFFFF;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
      border-radius: 20px;
    }
    /* For mobile phones: */

    .submit-button{
        font-family: 'Encode Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
    }

    .logo{
        position: relative;
        right: 27px;
    }
}
.container{
    background: #E9F0FC;
    height: auto;
    width: 100%;

}
.form{
height: 0vh;
/* position: absolute; */
}
  .head{
    background-image: url('./images/backgrbackground-repeat: no-repeat');
    background-attachment: fixed;
    background-size: cover;
  }
  

@media (max-width: 768px) {
  .galucoma{
    /* position: relative; */
    /* width: 344px; */
    height: 64px;
    /* bottom: 2.2rem; */
    /* margin: auto; */
    /* left: 801px; */
    /* top: 190px; */
    font-family: 'Roihu';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding-top: 1rem;
    /* or 160% */
    /* padding-top: 1.5rem; */
    text-align: center;
    color: #212121;
    
}
}


.galucoma-paragraph{
    height: 26px;
    left: 866px;
    top: 270px;
    margin-top: 10px;
    font-family: 'Encode Sans';
    font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #083972;
  opacity: 0.85;
}
.terms{
    
    margin-top: 20px;
    font-family: 'Roihu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;    
    text-align: center;
    
    color: #212121;
    
    opacity: 0.85;
}

select{
    
    -webkit-appearance: none;
    
    -moz-appearance: none;
    
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    
      background-repeat: no-repeat;
      
      background-position-x: 96%;
      
      background-position-y: 50%;
      
    }
    .submit-button{
        /* position: absolute; */
        width: 344px;
        height: 50px;
        /* left: 801px; */
        /* top: 575px; */
        margin-top: 2rem;
        background: #F3743A;
        border-radius: 7px;
        border: none;
    }
    
    .select-1{
        text-indent:10px;
    }
    .form-control {
        
        box-sizing: border-box;
        width: 344px;
        height: 50px;
        left: 801px;
        top: 316px;
        margin-top: 20px;
        margin-left: 24px;
        border: 1px solid rgba(33, 33, 33, 0.5);
        box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
    }
    .form-input{
        text-indent: 10px;
    }
    
    
    @media only screen and (max-width: 768px) {
        /*     
        .container{
            display: flex;
        flex-direction: column;
    } */
    
    .form{
        position:relative;
        display: flex;
        height: 447px;
        bottom: 3rem;
        /* top: 701px; */
        width: 342px;
        border-radius: 20px;
        margin: auto;
    }
    
    .galucoma{
            position: relative;
    height: 64px;
    font-family: 'Roihu';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding-top: 1rem;
    text-align: center;
    color: #212121;
    
    }
    
    .submit-form{
        position: static;
        width: 342px;
        
        height: 447px;
        /* width: 392px;
        height: 505px;
        left: 48rem;
        bottom: 35rem;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
        border-radius: 20px; */
    }
    /* .road-image{
        z-index: -1;
        background-size: cover;
        width: 100%;
    } */
    
    .form-control{
        height: 46px;
        width: 302px;
        left: 44px;
        top: 842px;
        border-radius: 7px;
        
    }
    
    .terms{
        height: 20px;
    }
    
    .submit-button{
        width: 302px;
        height: 50px;
        margin-top: 1rem;
    }
    
    option{
        margin: auto;
        /* text-align: center; */
    }
    /* .submit-form{
        display: none;
    }
        z-index: -1;
    background-size: cover;
    width: 100%;
    margin-top: 6rem; 
     width: 100%;
        height: 578px;
        object-fit: cover;
        object-position: bottom;
    
    */
    /* .road-image{
        
        width: 100%;
        height: 578px;
        object-fit: cover;
        object-position: bottom;
          
      } */
    }
    .galucoma-info{
        background-color: #0C51A3;
        /* height: 100%; */
        height: 496px;
        width: 1098px;
        /* margin: auto; */
        border-radius: 28px;
        display: flex;
        margin-top: 60px;
        
        /* flex-direction: row */
    }
    .galucoma-info-heading{

        position: absolute;
        font-family: 'Roihu';
        font-size: 40px;
        line-height: 90px;
        /* letter-spacing: 0em; */
        text-align: center;
        /* font-size: 40px; */
        font-weight: 500;
        /* margin-top: 2.2rem; */
        /* margin-left: 2.2rem; */
        /* text-align: center;/ */

  }
  .yellow-span{
      color: #FDBE4F;
  }
  .g-p{
    width: 529px;
    position: relative;
    top: 150px;
    display: block;
font-family: Encode Sans;
font-size: 20px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
/* margin-left: 2.2rem; */

  }
  
.eye{
width: 400px;
height: 400px;
border-radius: 1em;
position: relative;
/* left: 12%; */
/* margin-top: 30px; */
top: 10%;
}
@media only screen and (min-width: 768px) {
    .eye{
        width: 400px;
        height: 400px;
        border-radius: 1em;
        position: relative;
        left: 12%;
        margin-top: 30px;
        top: 10%;
        }
        .g-p{
            margin-left: 1rem;
        }
        .know-more{
                position: relative;
                width: 309px;
                height: 56px;
                border-radius: 315px;
                border: none;
                background: #FFFFFF;
                cursor: pointer;
                top: 23rem;
                right: 53rem;
                font-family: 'Encode Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px

        }
        .galucoma-info{
            margin: auto;
            margin-top: 64px;
        }
        .submit-form{

            left: 50rem;
            z-index: 3;
        }
        .symptom-heading{
            /* position: absolute; */
width: 419px;
height: 60px;
left: 436px;
/* top: 1425px; */
margin: auto;
/* margin-bottom: 2rem; */
margin-top: 56px;
font-family: 'Roihu-Bold';
font-style: normal;
font-weight: 500;
font-size: 40px;
padding-top: 1.8rem;
/* line-height: 60px; */
/* identical to box height, or 150% */

text-align: center;

color: #212121;
        }
    }

    @media only screen and (max-width:600px){
     
        .symptom-heading{
            position: relative;
            width: 260px;
            height: 32px;
            text-align: center;
            color: #212121;
            font-size: 24px;
            font-family: 'Roihu-Bold';
            /* left: 71px; */
            padding-top: 30px;
            margin-top: 1rem;
            margin: auto;
        }
        .galucoma-symptom{
            margin-top:2rem ;
        }

        .symptom-box{
            display: flex;
            background: #FFFFFF;
            box-shadow: 0px 0px 50px 15px rgb(0 0 0 / 5%);
            border-radius: 12px;
            align-items: center;
            padding: 10px;
            margin: 15px;
            width: 87%;
            
        }
        .symptom-box p {
            font-family: 'Encode Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #002E65;
            margin-bottom: 0;
            padding: 0 10px;
        }
        .symptom-box-last{
            display: flex;
            background: #FFFFFF;
            box-shadow: 0px 0px 50px 15px rgb(0 0 0 / 5%);
            border-radius: 12px;
            align-items: center;
            padding: 10px;
            margin: 15px;
            width: 87%;
        }
        .symptom-box-last p {
            font-family: 'Encode Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #002E65;
            margin-bottom: 0;
            padding: 0 10px;
        }
        
    }

    @media only screen and (min-width: 768px) {
.galucoma-symptom-main-div{
    /* display: flex; */
    /* display: inline; */
    /* flex-direction: row; */
    width: 1098px;
    height: 640px;
    margin: auto;
    background: #D0E1F5;
    border-radius: 28px;
    margin-top: 70px;
}

.galucoma-symptom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.symptom-box{
    background: #FFFFFF;
border: 0.5px solid #CCCCCC;
border-radius: 12px;
width: 432px;
display: flex;
background: #FFFFFF;
box-shadow: 0px 0px 50px 15px rgb(0 0 0 / 5%);
border-radius: 12px;
align-items: center;
padding: 10px;
margin: 15px;
width: 30%;
}
.symptom-box-last{
background: #FFFFFF;
border: 0.5px solid #CCCCCC;
border-radius: 12px;
width: 466px;
height: 70px;
display: flex;
background: #FFFFFF;
box-shadow: 0px 0px 50px 15px rgb(0 0 0 / 5%);
border-radius: 12px;
align-items: center;
padding: 10px;
margin: 15px;
/* width: 32rem; */
}

.symptom-box p {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #002E65;
    margin-bottom: 0;
    padding: 0 10px;
}
.symptom-box-last p {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #002E65;
    margin-bottom: 0;
    padding: 0 10px;
    text-align: center;
    }
}

@media only screen and (max-width: 768px){

    .galucoma-info-heading{
        font-size: 24px;
        width: 100%;
        margin: auto;
        /* padding-top: 1rem; */
    }

    .galucoma-info{
        /* position: absolute; */
        /* display: block; */
        flex-direction: column;
        width: 100%;
height: 817px;
/* left: 10px; */
/* margin: auto; */
top: 1188px;
background: #0C51A3;
border-radius: 0%;

    }

    .image-container{
display: flex;
width: 100%;
/* margin: auto; */
justify-content: center;
    }

    .eye{
        position: absolute;
    width: 342px;
    height: 342px;
    /* left: 4.6%; */
    /* top:100%; */
    display: flex;
    /* width: 100%; */
    top: 77rem;
    }
    .g-p{
        position: absolute;
        width: 342px;
        height: 203px;
        /* top: 40rem; */
        /* left: 24px; */
        top: 1600px;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
        /* or 161% */
        /* left: 4.5%; */
        text-align: center;
        color: #FFFFFF;
    }
    
.know-more{
    padding: 15px 32px;
    gap: 10px;
    position: absolute;
    width: 274px;
    height: 48px;
    top: 1840px;
    border-radius: 315px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px
}
.galucoma-p{
    display: flex;
    justify-content: center;
}

} 
.button-div{
    display: flex;
    justify-content: center;
}
.treatments{
    width: 100%;
    margin-top: 4rem;
    height: 726px;
    padding-top: 7rem;
    background: #062851;
}


@media only screen and (min-width: 768px){
    .desktop-treatments{
        width: 100%;
        margin-top: 4rem;
        height: 726px;
        background: #062851;
      }
      
      .desktop-treatments h2{
        font-family: 'Roihu';
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 60px;
      /* identical to box height, or 150% */
      
      text-align: center;
      padding-top: 3rem;
      color: #FFFFFF;
      }
      .treatment-p{
        /* position: absolute; */
      width: 895px;
      height: 58px;
      margin: auto;
      margin-top:2rem ;
      /* left: 193px; */
      /* top: 2035px; */
      font-family: 'Encode Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 29px;
      /* or 161% */
      text-align: center;
      color: #FFFFFF;
      }

      .cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }        
    
    
    .desktop-card {
        margin-top: 3rem;
        width: 338px;
        margin:1.5rem ;
        margin-top: 4rem;
        height: 336px;
        background-color: #f2f2f2;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: transform 0.3s;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        background-color: #00858A;
        display: flex;
        flex-direction: column;
    
    }
    .t-image{
        display: flex;
        margin: auto;
        margin-top: 12px;
    }
    .t-p{
    display: flex;
    margin: auto;
    margin-top:1rem;
    /* margin-bottom: 3rem; */
        font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Encode Sans';
    font-style: normal;
    }
    
    .semi-oval{
        background-color: rgba(255, 255, 255, 0.5);
        width: 338px;
        height: 20px;
        position: relative;
        top: 1.2rem;
        border-radius: 100% / 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@media only screen and (max-width: 768px){
    .treatments{
        width: 100%;
        margin-top: 4rem;
        height: auto;
        background: #062851;
        padding-bottom: 2rem;
        padding-top: 0.5rem;

        }
    .t2{
        margin: auto;
        width: 260px;
        height: 64px;
        color: #FFFFFF;
        font-family: 'Roihu-Bold';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
        /* margin: auto; */
        /* justify-content: space-around; */
    }

    
    .card{
        margin: auto;
        margin-top: 2rem;
        /* height:544px; */
        background: #00858A;
        border: 1rem solid #00858A;
    }

    .treatment-p{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 3.5rem;
    }

    .mobile-div{
        width: 314px;
        /* height: 273px; */
        background: #fafafa;
        border-radius: 6px;
        
    }

}

@media only screen and (max-width: 768px){



    .types{
        display: flex;
        width: 100%;
        height: 1405px;
        background: #0C51A3;
        /* border-radius: 28px; */
        margin: auto;
        padding-bottom: 2rem;
        border-radius: 24px;
        margin-top: 5rem;                                
        justify-content: centers;
    }
    .widthofphotos{
      border-radius: 24px;
    }

    .angles{
        display: flex;
        flex-direction: column;
    }
    .types-of-galucoma{
        margin: auto;
        border-radius: 18px;
    }
    .open-angle{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 358px;
        height: 206px;
        background: #E6F5F8;
        border-radius: 12px;
        margin-top: 24px;
    }
    .closed-angle{
        display: flex;
        flex-direction: column;
        width: 358px;
        height: 206px;
        background: #E6F5F8;
        border-radius: 12px;
        margin-top: 24px;
        /* margin-bottom: 2rem; */
    }

    .types-of-galucoma h2{
        text-align: center;
        margin-top: 48px;
        font-family: 'Roihu-Bold';
        margin-bottom: 2.5rem;
    }
    .closed-angle h3{
        align-items: center;
        margin-top: 1.5rem;
        text-align: center;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #002E65;
        margin-bottom: 1.5rem;

    }


    .open-angle h3{
        margin-top: 1.5rem;
        text-align: center;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #002E65;
        margin-bottom: 1.5rem;


    }
    .closed-angle p {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        width: 326px;
        height: 161px;
        text-align: center;
        margin: auto;
        color: #000000;
    }
    .open-angle p {
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        /* or 164% */
        width: 326px;
        height: 161px;
        text-align: center;
        margin: auto;
        color: #000000;
    }
    .desktop-types{
      display: none;
    }
    }

@media only screen and (min-width: 768px){

    .types{
        display: flex;
        
    }
    .mobile-types{
      display: none;
    }

    .types-of-galucoma{
        width: 1098px;
        height: 811px;
        background: #0C51A3;
        border-radius: 28px;
        margin: auto;
        margin-top: 64px;                                
    }
    .types-of-galucoma h2{
        text-align: center;
        margin-top: 20px;
        font-family: 'Roihu-Bold';
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        height: 60px;
        color: #FFFFFF;
    }
    .angles{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-around;
        margin-top: 7rem;
    }
    .closed-angle{
      display: flex;
      flex-direction: column;
        align-items: center;
        margin-top: 24px;
        width: 477px;
        height: 238px;
        /* margin: auto; */
        background: #E6F5F8;
        border-radius: 18px;
        margin-left: 16px;
    }
    .open-angle{
        margin-top: 24px;
        width: 477px;
        height: 238px;
        margin-right: 16px;
        background: #E6F5F8;
        border-radius: 18px;
    }
    .closed-angle img{
        display: flex;
        margin: auto;
        margin-top: 34px;
    }
    .open-angle img{
        display: flex;
        margin: auto;
        margin-top: 34px;
    }
    .closed-angle h3{
        text-align: center;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        /* line-height: 15px; */
        color: #002E65;
        margin-top: 38px;
    }
    .open-angle h3{
        text-align: center;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 35px;
        color: #002E65;
        margin-top: 34px;
    }
    .closed-angle p{
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin-top: 1rem;
        width: 413px;
        color: #000000;
    }
    .open-angle p{
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        width: 400px;
        margin: auto;
        text-align: center;
        margin-top: 0.6rem;
        color: #000000;
    }
}

@media only screen and (min-width: 768px){
    
    .rectangle{
      display: none;
    }
}


  .mobile-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F0FAFC;
    border-radius: 6px;
    margin-top: 1rem;
    height: auto;
  }

  .collapse {
    display: none;
    height: 0;
    transition: height 0.5s ease;
  }
  .collapse1 {
    display: none;
    height: 0; 
    transition: height 0.5s ease; 
  }
  .collapse2 {
    display: none;
    height: 0; 
    transition: height 0.5s ease; 
  }

  .collapse p {
    font-family: 'Encode Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
width: 282px;
height: 154px;
margin: auto;
color: #062851;
margin-bottom: 1rem;

  }
  .collapse1 p {
    font-family: 'Encode Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
width: 282px;
height: 154px;
margin: auto;
color: #062851;
margin-bottom: 1rem;

  }
  .collapse2 p {
    font-family: 'Encode Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
width: 282px;
height: 154px;
margin: auto;
color: #062851;
margin-bottom: 1rem;

  }
  
  .btn {
    color: #062851;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
  }
  .btn1 {
    color: #062851;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
  }
  .btn2 {
    color: #062851;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
  }
  .btn:hover {
  }
  
  .show {
    display: block;
    height: auto;
  }

  .rectangle{
/* height: 103px; */    
  }
  
  .t-p{
    margin: auto;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #212121;
    margin-top: 1rem;
  }

  .content {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
  }
  @media only screen and (max-width: 768px){
    .t-d{
        display: none;
    }
  }

  @media (min-width: 768px) {

    .treatments{
        display: none;
    }

    .my-grid-container{
        display: none;
    }
    .hero-image{
        margin-top: 3.1rem;
        height: 411px;
    }

    .hero-section{
        display: flex;
        width: 90%;
        background-color: linear-gradient(270deg, #F0FAFC 54.1%, #E1F3F7 100%);
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin-top: 6.5rem;
        margin-left: 6.5rem;

      }
      
      .grid-item-1 {
        grid-row: 1;
        grid-column: 1;
      }
      
      .grid-item-2 {
        grid-row: 1;
        grid-column: 2;
        margin-left: 6rem;
      }
      
      .grid-item-3 {
        grid-row: 2;
        grid-column: 1;
      }
      
      .grid-item-4 {
        grid-row: 2;
        grid-column: 2;
        margin-left: 6rem;

      }
      
      .hero-section-mobile{
        display: none;
      }
      .mobile-hero{
        display: none;
      }

  } 

  @media (max-width: 768px) {


    .t-h{
      font-family: 'Roihu-Bold';
    }

    .desktop-treatments{
        display: none;
    }
    .hero-section{
        display: none;
    }
    .my-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* gap: 10px; */
        margin: auto;
        /* margin-left: 3rem; */
        margin-top: 1.5rem;
      }
      
      .my-grid-item-1 {
        grid-row: 1;
        grid-column: 1;
        margin: auto;

      }
      
      .my-grid-item-2 {
        grid-row: 1;
        grid-column: 2;
        margin: auto;

      }
      
      .my-grid-item-3 {
        grid-row: 2;
        grid-column: 1;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        margin: auto;

      }
      
      .my-grid-item-4 {
        grid-row: 2;
        grid-column: 2;
        padding-top: 1.5rem;
        margin: auto;
        padding-bottom: 1.5rem;


      }
      .mobile-hero {
        width: 100%;
height: 246px;
      }
  }
  @media (min-width: 768px){



    .desktop-card:hover {
        transform: scale(1.1);
    }
    
    .card-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        border-radius: rem;
        color: #000000;
        border: 12px solid #00858A;
        border-radius: 100px 100px 0 0 ;
        opacity: 0;
        box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        padding: 20px;
        z-index: 1;
    }
    
    .desktop-card:hover .card-content {
        opacity: 1;
        animation: scroll-up 1s ease-in-out forwards;
        border-radius: 0 0 0 0;
    }
    
    @keyframes scroll-up {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0%);
        }
    }
    
    .desktop-card:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
        z-index: 0;
    }
    
    
    .desktop-card:hover::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
    .card-content:hover::after {
        border-radius: 0 0 0 0;
    }

  }

  @media (min-width: 768px){
    .testimonials{
        background: #D0E1F5;
        width: 100%;
        height: 803px;
        display: flex;
        flex-direction: column;
        /* padding-bottom: 1rem; */
        /* justify-content: center; */
    }
    .t-h{
        width: 249px;
        margin: auto;
        height: 60px;
        color: #083972;
        font-family: 'Roihu-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
}
.test-p {
    text-align: center;
    /* margin-top: 24px; */
    margin: auto;
    position: relative;
    bottom: 2.1rem;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    width: 644px;
    height: 29px;
    text-align: center;
    color: #212121;
}
.testimonials iframe{
    /* margin-top: 56px; */
    position: relative;
    bottom: 3.7rem;
    width: 716px;
    height: 450px;
    margin: auto;
    border-radius: 20px;
    }


      
      

}

@media (min-width: 768px){
    .faq-accordion {
  max-width: 800px;
  margin: 0 auto;
}

.accordion {
  background-color: #f6f6f6;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion.active, .accordion:hover {
  background-color: #ccc;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-header i {
  font-size: 1.2em;
}

.accordion-body {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f6f6f6;
}

.accordion.active .accordion-body {
  display: block;
}
 }

 @media (max-width:768px){
    .corousal{
        display: none;
    }

    .contactus img{
      display: none;
    }

    .mobile-corousal{
        width: 100%;
        height: 745px;
        background: radial-gradient(81.72% 64.94% at 50% 50%, #D0E1F5 0%, #C8DCF4 43.5%, #A1C6F1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    }
    .slider-card-content{
        width: 278px;
        height: 544px;
        background: #FFFFFF;
        box-shadow: 0px 0px 60px 24px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        margin: auto;
        margin-left: 2rem;
        margin-top: 24px;
    }
    .coro-head{
        display: flex;
        display: inline-block;
        font-family: 'Roihu';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        width: 100%;
height: 65px;
        height: 65px;
        margin: auto;
        margin-top: 40px;
    }

    .slider-image-main{
        display: flex;
        position: relative;
        top: 16px;
        margin: auto;
        width: 246px;
        height: 230px;  
        margin: auto;
        border-radius: 8px;
        margin-top: 16px;
        object-fit: cover;
    }

    .slider-heading{

        margin: auto;
        text-align: center;
        width: 230px;
height: 52px;
        font-family: 'Roihu';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
        margin-top: 24px;
        text-align: center;

        color: #212121;
    }
    .slider-para{
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        margin: auto;
        text-align: center;
        width: 246px;
        height: 92px;
        margin: auto;
        color: #212121;
        margin-top: 16px;
    }

    .read-more{
        display: flex;
        /* position: relative; */
        /* bottom: 1.2rem; */
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        width: 82px;
        height: 23px;
        text-align: center;
        margin: auto;
        color: #083972;
        text-decoration:none;
    }
    .contactus{
        background-image: url('./images/GlaucomaCreative.png');
        background-size: cover;
        height: 694px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        overflow: hidden;
    }

    .callback-button{
        display: flex;
        border-radius: 315px;
        height: 50px;
        margin-top: 32.5rem;
        text-decoration: none;
        border: none;
        /* width: 294px; */
        background: #F3743A;
        width: 294px; 
        align-items: center;
        justify-content: center;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
cursor: pointer;

    }
    .callback-button button{
        width: 139px;
        height: 18px;
    }

    .callus-button {
        background: #FFFFFF;
        border-radius: 315px;
        border: none;
        width: 294px;
height: 50px;
color: #F3743A;
font-family: 'Encode Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
margin-top: 16px;
line-height: 18px;
cursor: pointer;
    }

    .footer_desktop_upper{
        display: none;
    }

 }


 @media (min-width:768px){

  .swiper-pagination {
    bottom: -50px; /* move the dots 50px below the swiper container */
  }

    .foter_flex{
        margin: auto;
    }

    .mobile-corousal{
        display: none;
    }

    .contactus{
      width: 100%;
      height: 800px;

    }
    
    .buttons{

      position: absolute;
      position: relative;
      display: flex;
      /* right: 10rem; */
     /* z-index: 30; */
      /* top: 450rem; */
     /* flex-direction:column; */
      display: inline-block;
      /* height: 0vh */
      bottom: 2.2rem;
      /* margin-right: 4rem; */
    }


    .contactusimg{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
          }

    .corousal{
        padding-bottom: 130px;
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 100%; */
        background: radial-gradient(81.72% 64.94% at 50% 50%, #D0E1F5 0%, #C8DCF4 43.5%, #A1C6F1 100%);
        
    }
    .slider-card-content{
        width: 100%;
    }
    
     .coro-head{
        width: 800px;
        height: 60px;
        margin: auto;
        font-family: 'Roihu';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        margin-top: 64px;
        text-align: center;
        
        
    }

    .slider-image-main{
        margin: auto;
        width: 269px;
        height: 251px;
        margin: auto;
        object-fit: cover;
    }

    .slider-heading{
        font-family: 'Roihu-Bold';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        margin: auto;
        text-align: center;
        width: 269px;
        height: 52px;
        color: #212121;
    }
    .slider-para{
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        margin: auto;
        text-align: center;
        width: 269px;
        height: 97px;
        margin: auto;
        color: #212121;
        margin-top: 16px;
    }

    .read-more{
        display: flex;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        width: 82px;
        height: 23px;
        text-align: center;
        margin: auto;
        color: #083972;
        text-decoration:none;
    }
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .slider-card-content {
        text-align: center;
        font-size: 18px;
        width: 300px;
        height: 554px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 56px;
        box-shadow: 0px 0px 60px 24px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
      }

      .callback-button{
        /* left: auto; */
        position: relative;
        bottom: 22rem;
        /* top:6%; */
        /* bottom: 22rem; */
        /* left:5.1%; */
        width: 325px;
        height: 54px;
        border: none;
        background: #F3743A;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        border-radius: 315px;
        margin-left: 928px;
        /* margin-top: 18rem; */
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        cursor: pointer;        
      }
      .callus-button{
        /* z-index: 2; */
        position: relative;
        /* top:6%; */
        /* bottom: 1rem; */
        /* left:20%; */
        cursor: pointer;
        width: 325px;
        height: 54px;
        /* left: 905px; */
        /* top: 7244px; */
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        border-radius: 315px;
        border: none;
        margin-left: 928px;
        bottom:20rem;
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #F3743A;

      } 
      .footer_desktop_upper {
        position: relative;
        /* margin: auto; */
        bottom: ;
        /* top: 7.1rem; */
        padding: 48px 70px;
        background: #047BD4;
        /* height: 525px; */

        }
        
        .foter_flex {
        background: #047BD4;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .foter_flex div {
        width: 20%;
    }
    
    .foter_flex div ul {
        list-style-type: none;
        padding: 0;
    }
    
    .foter_flex div ul li {
        line-height: 25px;
    }
    
    .foter_flex div ul li a {
        color: #fff;
        text-decoration: none !important;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    
    .qna-section {
        padding-bottom: 64px;
        width: 100%;
        height: auto;
        overflow: hidden;
        background: #F0FAFC;
        display: flex;
        flex-direction: column;
    }
    
    .qna-section h1{
        /* width: 538px; */
/* height: 60px; */
padding-top:64px ;
padding-bottom: 54px;
margin: auto;
        font-family: 'Roihu-Bold';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height, or 150% */

text-align: center;
    }
    
    .qna-question {
        margin: auto;
        height: auto;
        width: 704px;
        padding-bottom: 24px;
        padding-top: 24px;
        /* margin-bottom: 10px; */
        border-bottom: 1px solid #DFDFDF;
        font-family: 'Roihu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */


color: #083972;
      }
      
      .qna-question-header {
        /* background-color: #f1f1f1; */
        /* padding-bottom: 24px; */
        cursor: pointer;
      }
      
      .qna-question-content {
        padding: 10px;
        display: none;
        font-family: 'Roihu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


color: #212121
      }
      
      .qna-question-content.show {
        display: block;
      }
      
      .view-more-button, .view-less-button {
        /* background-color: #f1f1f1; */
        /* display: flex; */
        padding: 10px;
        padding-top: 30px;
        text-align: center;
        /* align-items: center; */
        margin: auto;
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        line-height: 23px;
        color: #083972;
        font-family: 'Encode Sans';
font-style: normal;
font-weight: 600;
        
    }
      

      .view-less-button {
        display: none;
      }
      
      .hidden {
        display: none;
      }
      .arrowdown{
        padding-bottom: 3.5px;
        padding-left: 5px;
      }
      .upper_footer{
        display: none;
      }
      
 }

 @media(min-width:1280px){
  .swipe-label{
     position: relative;
    /* margin: auto; */
    width: 100%;
    padding-left: 2rem;
    text-align: center; 
  }

 }

 @media(min-width:1500px){
  .callback-button{
    position: relative;
    bottom: 16.5rem;
    left: 5.1rem;
  }
  .callus-button{
    position: relative;
    bottom: 15.5rem;
    left: 5rem;
  }
  .swipe-label{
    position: relative;
    /* margin: auto; */
    right: 4rem;
    padding-left: 2rem;
    /* right: 10rem; */
    /* right: 60rem; */
  }
 }
 @media(min-width:768px){

  .callback-button{
    position: relative;
    bottom: 16rem;
  }
  .callus-button{
    position: relative;
    bottom: 15rem;

  }
  
}

 @media (max-width: 768px) {
    .qna-section {
        padding-bottom: 64px;
        width: 100%;
        height: auto;
        overflow: hidden;
        background: #F0FAFC;
        display: flex;
        flex-direction: column;
    }
    
    .qna-section h1{
        /* width: 538px; */
/* height: 60px; */
width: 203px;
height: 65px;
padding-top:48px ;
padding-bottom: 20px;
margin: auto;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* or 133% */
font-family: 'Roihu-Bold';
text-align: center;
    }
    
    .qna-question {
        margin: auto;
        height: auto;
        width: 380px;;
        padding-bottom: 24px;
        padding-top: 24px;
        /* margin-bottom: 10px; */
        border-bottom: 1px solid #DFDFDF;
        font-family: 'Roihu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
margin: auto;
/* identical to box height, or 120% */


color: #083972;
      }
      
      .qna-question-header {
        /* background-color: #f1f1f1; */
        /* padding-bottom: 24px; */
        padding-left: 8px;
        margin: auto;
        cursor: pointer;
      }
      
      .qna-question-content {
        padding: 10px;
        display: none;
        font-family: 'Roihu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


color: #212121
      }
      
      .qna-question-content.show {
        display: block;
      }
      
      .view-more-button, .view-less-button {
        /* background-color: #f1f1f1; */
        padding-top: 30px;
        /* margin-top: 30px; */
        font-weight: 600;
        margin: auto;
        cursor: pointer;
        font-size: 14px;
        line-height: 23px;
        color: #083972;
        font-family: 'Encode Sans';
font-style: normal;
font-weight: 600;
        
    }
      

      .view-less-button {
        display: none;
      }
      
      .hidden {
        display: none;
      }
      .arrowdown{
        padding-bottom: 3px;
        padding-left: 4px;
      }

      .testimonials{
        background-color: #D0E1F5;;
        display: flex;
        flex-direction: column;
        padding-bottom: 48px;
      }
      
      .testimonials h2  {
        font-family: 'Roihu';
        margin-top: 48px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;

color: #083972;

      }
      .testimonials p { 
        font-family: 'Encode Sans';
        width: 358px;
height: 50px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
/* or 156% */
margin: auto;
margin-top: 32px;
text-align: center;

color: #212121;

      }
      .testimonials iframe{
        width: 358px;
height: 248px;
margin: auto;
margin-top: 32px;
border-radius: 20px;
      }

      .upper_footer {
        padding: 27px;
        background: #047BD4;
        /* width: 100%; */
        height: 274px;
        display: flex;
        flex-direction: column;
    }

    .upper_footer p {
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        margin-top: 23px;
    }

}

@media(min-width: 768px) {

  
    .box {
        width: 100px;
        height: 100px;
        background-color: white;
        border: 20px solid black;
        transition: border-color 0.5s ease-in-out;
        filter: blur(5px);
      }
      #mobile-image{
        display: none;
        
      }
      #mobile-image img{
       display: none;
      }
}

@media (max-width:416px){
    #image{
        display: none;
    }

    #image img{
        display: none;
    }


    #mobile-image {
        width: auto;
        height: auto;
        left: auto;
        justify-content: center;
        z-index: 2;
        top: 1rem;
        background: linear-gradient(to top right, rgba(255, 255, 255, var(--opacity)), transparent 75%);
      }

      #mobile-image img {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 525px !important;
        min-width: 395px;
        width: auto;
        height: auto;
        z-index: 10;
        box-shadow: inset -10px -10px 50px 500px rgba(0, 0, 0, 0);
        transition: box-shadow 0.5s ease;
      }

      .mobile-slider {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        top: 38rem;
        width: 16rem;
        height: 30px;
        background-color: #ddd;
        /* margin: auto; */
        border: none;
        border-radius: 50% !important;
        position: relative;
        /* bottom: 10rem; */
        z-index: 11;
        outline: none;
      }
      .mobile-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 60px;
        height: 60px;
        background: url('./images/arroe.png')  center no-repeat, url('./') right center no-repeat, #ffffff;  size: 20px 20px, 20px 20px;
      border-radius: 50%;
      cursor: pointer;
}

.mobile-slider::-moz-range-thumb {
  width: 60px;
  height: 60px;
  background: url('https://image.flaticon.com/icons/png/128/271/271221.png') left center no-repeat, url('https://image.flaticon.com/icons/png/128/271/271238.png') right center no-repeat, #4CAF50;
  background-size: 20px 20px, 20px 20px;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-slider::-webkit-slider-runnable-track {
  /* height: 10px; */

  background-color: #ECECEC;
/* border-radius: 50%; */
border-radius: 2rem;
}

.mobile-slider::-moz-range-track {
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.mobile-road-image{
    z-index: -1;
    background-size: cover;
    width: 100%;
    margin-top: 3.5rem; 
    height: 578px;
    object-fit: cover;
    object-position: bottom;
}
.road-image{
    display: none;
}
}

@media (max-width:768px){

  

    .slider {
            -webkit-appearance: none;
            appearance: none;
            width: 40%;
            height: 30px;
            background-color: #ddd;
            outline: none;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 60px;
            height: 60px;
            background: url('./images/arroe.png')  center no-repeat, url('./') right center no-repeat, #ffffff;  size: 20px 20px, 20px 20px;
          border-radius: 50%;
          cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 60px;
      height: 60px;
      background: url('https://image.flaticon.com/icons/png/128/271/271221.png') left center no-repeat, url('https://image.flaticon.com/icons/png/128/271/271238.png') right center no-repeat, #4CAF50;
      background-size: 20px 20px, 20px 20px;
      border-radius: 50%;
      cursor: pointer;
    }
    
    .slider::-webkit-slider-runnable-track {
    
    background-color: #ECECEC;
    border-radius: 2rem;
    }
    
    .slider::-moz-range-track {
    
      height: 10px;
      background-color: #ffffff;
      border-radius: 5px;
    }


}

@media(min-width:1500px){
  .swipe-label{
    position: relative;
    bottom: 9.6rem;
    z-index: 1;
    /* margin: auto; */
    right: 35rem;   
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    width: 294px;
    height: 19px;
    text-transform: uppercase;
    color: #0C51A3;
    }
}

@media (min-width:768px)
{
  .image1{
    width: 100%;
    max-height: 650px;
  }
  .shadow1{
    max-height: 650px;
  }

      .slider {
              -webkit-appearance: none;
              appearance: none;
              width: 50%;
              height: 30px;
              background-color: #ddd;
              border-radius: 50% !important;
              outline: none;
            }
            
            .slider::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 60px;
              height: 60px;
              background: url('./images/arroe.png')  center no-repeat, url('./') right center no-repeat, #ffffff;  size: 20px 20px, 20px 20px;
            border-radius: 50%;
            cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 60px;
        height: 60px;
        background: url('https://image.flaticon.com/icons/png/128/271/271221.png') left center no-repeat, url('https://image.flaticon.com/icons/png/128/271/271238.png') right center no-repeat, #4CAF50;
        background-size: 20px 20px, 20px 20px;
        border-radius: 50%;
        cursor: pointer;
      }
      
      .slider::-webkit-slider-runnable-track {
      
      background-color: #ECECEC;
      border-radius: 2rem;
      }
      
      .slider::-moz-range-track {
      
        height: 10px;
        background-color: #ffffff;
        border-radius: 5px;
      }

      .swipe-label{
      position: relative;
      bottom: 9.6rem;
      z-index: 1;
      margin: auto;
      right: 29rem;   
      font-family: 'Encode Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 19px;
      width: 294px;
      height: 19px;
      text-transform: uppercase;
      color: #0C51A3;
      }

}

@media (max-width : 767px) {
  .image1{
    content: url('./images/phone-road.png') !important;
  }

  .swiper-slide{

    

  }
  .slider-card-content{
    margin: auto;
  }

  .shadow1{
    content: url('./images/phone-shadow.png') !important;

  }
  .slider{
    width: 90%;
    position: relative !important;
    bottom: 6rem !important;
  }
  .swipe-label{
    position: relative;
    /* top:35rem; */
    bottom: 4.4rem;
  z-index: 1;
  left: 6rem;    
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
/* identical to box height, or 106% */

text-transform: uppercase;

color: #0C51A3;
  }
}

@media(max-width:768px){

.widthofphotos{
  background: #E6F5F8;
  height: 214px;
  display: flex;
}


}




@media (min-width:768px)  {
  

  
  .down-arrow{
    display: none !important;
  }
  
  .down-arrow-2{
    display: none !important;
  }


  .photodiv{
    display: flex;
    /* margin: auto; */
    
    justify-content: center;
  }

.widthofphotos{
  /* width: 50%; */
  position: relative;
  top: 3.8rem;
  display: flex;
  /* flex-direction: space-between; */
  height: 304px;
  /* left: 163px; */
  width: 1002px;
  /* justify-content: center; */
  border-radius: 8px;
  background: #E6F5F8;
  /* margin: auto; */
  }
  .widthofphotos img{
    border-radius: 8px;
    /* margin-left:4rem ; */
    display: flex;
    /* margin-top: 1.5rem; */
    height: 256px;
    /* align-items: center; */
    width: 256px;
    /* position: absolute; */
    /* margin-left: 4rem; */

  }
  .image-one{
    position: relative;
left: 24px;
top: 24px;
/* margin-top: 24px */
    /* right: 3rem; */
    
  }
  .image-2{
    position: relative;
    /* right: 8rem; */
    left: 75px;
    margin-top: 24px;

  }
  .image-3{
    position: relative;
    /* left: 50rem; */
    /* right: 44px; */
    left:118px;
    top:24px;
    /* margin-top: 24px */
  }
  .side-arrow{
    position: relative;
    top: 131px;
    left: 3.2rem;
  }

  .side-arrow-2{
    position: relative;
    top: 131px;
    left: 6rem;
  }

}
@media (max-width:768px){

  .mobile_version{
    position: relative;
  }


  .photodiv{
    /* display: flex; */
    /* flex-direction:column !important; */
  }
  .widthofphotos{
    /* display: flex; */
    position: relative;
    width: 358px;
    height: 801px;
    flex-direction: column;
    /* bottom: 28rem; */
  }
  .types-of-galucoma{
    height: 1405px;
  }
  .side-arrow{
    display: none;
  }
  .side-arrow-2{
    display: none;
  }
  
  .down-arrow{
    position: relative;
    margin: auto;
    top: 10px;
  }

  .down-arrow-2{
    position: relative;
    margin: auto;

    bottom: 10px;


    }

  .image-one{
    position: relative;
    top: 20px;
    width: 318px;
    height: 214px;
    margin: auto;
  }
  .image-2{
    position: relative;
    width: 318px;
    height: 214px;
    margin: auto;
    /* top: 10px; */

  }
  .image-3{
    position: relative;
    width: 318px;
    height: 214px;
    margin: auto;
    bottom: 20px;
  }

} 
@media(max-width:768px){

  .last-footer{
    display: none;
  }

  .last-footer-for-mobile{
    height: 383px;
    background: #051226;
  }
  .li{
    display: inline-block;
    font-family: 'Open Sans';
    /* width: 82px; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-left: 1rem;
/* identical to box height, or 150% */
height: 24px;
margin-top: 64px;
text-transform: uppercase;

color: #FAFAFA;
  }
  .copy_write{
    display: flex;
    color: white;
    position: relative;
    top: 4rem;
    left: 15px;
    font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  width: 259px;
  height: 36px;


  }

  .li-last{
    position: relative;
 
  }
  
}
@media(min-width:1500px){


}

@media(min-width:768px){ 
  .last-footer{
    width: 100%;
    height: 194px;
    background: #051226;
    display: inline-block;
    
  }

  .slider-form{
    /* position: relative; */
    /* bottom: 8.1rem; */
    left: 3.5rem;
    width: 100%;
  }

  .last-footer-for-mobile{
    display: none;
  }

  .li {
    color: white;
    display: inline-block;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-around;
    margin-top: 3rem;
    margin-left: 55px;
    text-transform: uppercase;
  }
  .li-last{
    position: relative;
    bottom: 3rem;
    left: 3px;
  }
  .copy_write{
    /* display: flex; */
    color: white;
    position: relative;
    /* top:491rem; */
    right: 4.5rem;
  }
 }